name: Workflow-CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python 3.12.7
        uses: actions/setup-python@v4
        with:
          python-version: "3.12.7"

      - name: Check Env
        run: python --version

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow scikit-learn pandas numpy

      - name: Run training
        run: |
          cd MLProject
          python modelling.py

      - name: Get latest MLflow run_id
        run: |
          cd MLProject
          EXPERIMENT_ID=$(find mlruns -mindepth 1 -maxdepth 1 -type d ! -name ".trash" -exec basename {} \; | head -n 1)
          RUN_ID=$(ls -t mlruns/$EXPERIMENT_ID/ | grep -E '^[a-f0-9]{32}$' | head -n 1)
          if [ -z "$RUN_ID" ]; then
            echo "Error: No run found"
            ls -la mlruns/0/
            exit 1
          fi
          echo "RUN_ID=$RUN_ID" >> $GITHUB_ENV
          echo "Latest run_id: $RUN_ID"

      - name: Build Docker Model
        run: |
          cd MLProject
          RUN_ID="${{ env.RUN_ID }}"
          echo "Building Docker image for run: $RUN_ID"
          mlflow models build-docker --model-uri "runs:/${RUN_ID}/model" --name "cc"

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Tag Docker Image
        run: |
          docker tag cc ${{ secrets.DOCKER_HUB_USERNAME }}/cc:latest

      - name: Push Docker Image
        run: |
          docker push ${{ secrets.DOCKER_HUB_USERNAME }}/cc:latest

      - name: Save mlruns to repo
        run: |
          git config --global user.name "${{ secrets.USERNAME }}"
          git config --global user.email "${{ secrets.EMAIL }}"
          git add MLProject/mlruns/ || true
          git commit -m "Save mlruns from CI run [skip ci]" || echo "No changes"
          git push origin main || echo "No push needed"