name: Workflow-CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.12.7
        uses: actions/setup-python@v4
        with:
          python-version: "3.12.7"

      - name: Check Env
        run: python --version

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow

      - name: Run mlflow project
        run: |
          mlflow run MLProject --env-manager=local 

      - name: Save mlruns to repo
        run: |
          git config --global user.name ${{ secrets.username }}
          git config --global user.email ${{ secrets.email }}
          git add mlruns/
          git commit -m "Save mlruns from CI run" || echo "No changes to commit"
          git push origin main || echo "No changes to push"

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build Docker Image
        run: |
          cd MLProject
          LATEST_RUN=$(mlflow runs list --experiment-name "Stroke Prediction" --max-results 1 --query "data.run_id" -o json | jq -r '.[0]')
          mlflow models build-docker \
            -m runs:/$LATEST_RUN/artifacts/model \
            -n stroke-prediction

      - name: Tag Docker Image
        run: |
          docker tag stroke-prediction ${{ secrets.DOCKER_HUB_USERNAME }}/stroke-prediction:latest

      - name: Push Docker Image
        run: |
          docker push ${{ secrets.DOCKER_HUB_USERNAME }}/stroke-prediction:latest
